.box{
    height:100px;
    width:80px;
    top:0px;
    position: relative;
    background-color: #000;
    border-radius:100%;
    animation-name:jump;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse
    
    
}

@keyframes jump{
    from{
        top:0px;
    }
     to{
         
         top:200px;
     }
    
    
    
    
    
}


